nav {
    margin-right: 200px ;
    margin-left: 200px ;
    font-family: 'Times New Roman';
    justify-content: space-around;
  
  }
  nav a {
    color: #333;
    text-decoration: none;
  
  }
  nav a:hover {
    text-transform:uppercase;
  }