<div>
  <div class="d-flex justify-content-center">
    <div class="col-md-4">
      <h1 jhiTranslate="reset.finish.title">Restablecer la contraseña</h1>

      @if (initialized() && !key()) {
        <div class="alert alert-danger" jhiTranslate="reset.finish.messages.keymissing">Falta la clave de reinicio.</div>
      }

      @if (key() && !success()) {
        <div class="alert alert-warning">
          <span jhiTranslate="reset.finish.messages.info">Elija una contraseña nueva</span>
        </div>
      }

      @if (error()) {
        <div class="alert alert-danger">
          <span jhiTranslate="reset.finish.messages.error"
            >Su contraseña no puede ser restablecida. Recuerde que una solicitud de reinicio de contraseña sólo es válida durante 24
            horas.</span
          >
        </div>
      }

      @if (success()) {
        <div class="alert alert-success">
          <span jhiTranslate="reset.finish.messages.success"><strong>Su contraseña ha sido restablecida.</strong> Por favor, </span>
          <a class="alert-link" routerLink="/login" jhiTranslate="global.messages.info.authenticated.link">iniciar sesión</a>.
        </div>
      }

      @if (doNotMatch()) {
        <div class="alert alert-danger" jhiTranslate="global.messages.error.dontmatch">
          ¡La contraseña y la confirmación de contraseña no coinciden!
        </div>
      }

      @if (key() && !success()) {
        <div>
          <form name="form" (ngSubmit)="finishReset()" [formGroup]="passwordForm">
            <div class="mb-3">
              <label class="form-label" for="newPassword" jhiTranslate="global.form.newpassword.label">Nueva contraseña</label>
              <input
                type="password"
                class="form-control"
                id="newPassword"
                name="newPassword"
                placeholder="{{ 'global.form.newpassword.placeholder' | translate }}"
                formControlName="newPassword"
                data-cy="resetPassword"
              />

              @let newPasswordRef = passwordForm.get('newPassword')!;
              @if (newPasswordRef.invalid && (newPasswordRef.dirty || newPasswordRef.touched)) {
                <div>
                  @if (newPasswordRef?.errors?.required) {
                    <small class="form-text text-danger" jhiTranslate="global.messages.validate.newpassword.required"
                      >Se requiere que ingrese una contraseña.</small
                    >
                  }

                  @if (newPasswordRef?.errors?.minlength) {
                    <small class="form-text text-danger" jhiTranslate="global.messages.validate.newpassword.minlength"
                      >Se requiere que su contraseña tenga por lo menos 4 caracteres</small
                    >
                  }

                  @if (newPasswordRef?.errors?.maxlength) {
                    <small class="form-text text-danger" jhiTranslate="global.messages.validate.newpassword.maxlength"
                      >Su contraseña no puede tener más de 50 caracteres</small
                    >
                  }
                </div>
              }

              <jhi-password-strength-bar [passwordToCheck]="newPasswordRef.value"></jhi-password-strength-bar>
            </div>

            <div class="mb-3">
              <label class="form-label" for="confirmPassword" jhiTranslate="global.form.confirmpassword.label"
                >Confirmación de la nueva contraseña</label
              >
              <input
                type="password"
                class="form-control"
                id="confirmPassword"
                name="confirmPassword"
                placeholder="{{ 'global.form.confirmpassword.placeholder' | translate }}"
                formControlName="confirmPassword"
                data-cy="confirmResetPassword"
              />

              @let confirmPasswordRef = passwordForm.get('confirmPassword')!;
              @if (confirmPasswordRef.invalid && (confirmPasswordRef.dirty || confirmPasswordRef.touched)) {
                <div>
                  @if (confirmPasswordRef?.errors?.required) {
                    <small class="form-text text-danger" jhiTranslate="global.messages.validate.confirmpassword.required"
                      >Se requiere que confirme la contraseña.</small
                    >
                  }

                  @if (confirmPasswordRef?.errors?.minlength) {
                    <small class="form-text text-danger" jhiTranslate="global.messages.validate.confirmpassword.minlength"
                      >Se requiere que su contraseña de confirmación tenga por lo menos 4 caracteres</small
                    >
                  }

                  @if (confirmPasswordRef?.errors?.maxlength) {
                    <small class="form-text text-danger" jhiTranslate="global.messages.validate.confirmpassword.maxlength"
                      >Su contraseña de confirmación no puede tener más de 50 caracteres</small
                    >
                  }
                </div>
              }
            </div>

            <button
              type="submit"
              [disabled]="passwordForm.invalid"
              class="btn btn-primary"
              data-cy="submit"
              jhiTranslate="reset.finish.form.button"
            >
              Validar la nueva contraseña
            </button>
          </form>
        </div>
      }
    </div>
  </div>
</div>
