
@charset "UTF-8";

body {
    background-color:antiquewhite;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    margin-left: 40px;
    margin-right: 950px;
}

h3 {
    color: lightseagreen;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

h2 {
    color: lightseagreen;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 19px;
    text-align: justify;
}

